version: '3.8'

services:
    nginx:
        container_name: nginx
        image: nginx:latest
        ports:
            - 80:80
    redis:
        image: redis:latest
        command: redis-server  --requirepass redispw --port 6379
        env_file: .env
        container_name: redis_prod
        hostname: redis_prod
        ports:
            - 6379:6379
        restart: always
    nest1:
        build:
            context: .
            dockerfile: ./dockerfilecd
        env_file: .env
        image: ghcr.io/klaus9267/summer-auto-deploy
        ports:
            - 3000:3000
            - 4000:4000
        container_name: nest-prod1
        depends_on:
            - redis
        restart: always
    nest2:
        build:
            context: .
            dockerfile: ./dockerfile
        env_file: .env
        image: ghcr.io/klaus9267/summer-auto-deploy
        ports:
            - 3002:3000
            - 4000:4000
        container_name: nest-prod2
        depends_on:
            - redis
        restart: always
    nest3:
        build:
            context: .
            dockerfile: ./dockerfile
        env_file: .env
        image: ghcr.io/klaus9267/summer-auto-deploy
        ports:
            - 3003:3000
            - 4000:4000
        container_name: nest-prod3
        depends_on:
            - redis
        restart: always
