version: "3.8"

services:
    nest:
        build:
            context: .
            dockerfile: ./Dockerfile
        env_file: .env
        image: ghcr.io/klaus9267/trading
        ports:
            - 3000:3000
        container_name: nest-prod
        restart: always
